{% extends 'base.html' %} {% block content %} {% load static %}
<!-- About -->
<section id="about" class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="display-5">Welcome to Hervoli Real Estate</h1>
				<p class="lead">Your Trusted Partner in Finding Your Dream Home</p>
			</div>
		</div>
	</div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active">About</li>
			</ol>
		</nav>
	</div>
</section>

<!-- Mission Statement -->
<section id="mission" class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3>Our Mission: Helping You Find Your Perfect Home</h3>
				<p class="lead">
					At Hervoli Real Estate, we are dedicated to making your home-buying
					experience effortless and rewarding.
				</p>
				<img
					src="{% static 'img/about.jpg' %}"
					alt="About Us"
					class="img-fluid mt-4"
				/>
				<p class="mt-4">
					We understand that finding the right home is a life-changing decision.
					Our team of experts is committed to providing you with the highest
					level of service and guidance throughout the entire process. Whether
					you're a first-time buyer or an experienced homeowner, we're here to
					make your real estate dreams a reality.
				</p>
			</div>
			<div class="col-md-4">
				{% if mvp_realtors %} {% for realtor in mvp_realtors %}
				<div class="card">
					<img
						class="card-img-top"
						src="{{ realtor.photo.url }}"
						alt="Kyle Brown"
					/>
					<div class="card-body">
						<h5 class="card-title">Meet Our Realtor</h5>
						<h6 class="text-secondary">{{ realtor.name }}</h6>
						<p class="card-text">{{ realtor.description }}</p>
					</div>
				</div>
				{% endfor %} {% endif %}
			</div>
		</div>
	</div>
</section>

<!-- Our Commitment -->
<section id="commitment" class="bg-dark text-white text-center py-3">
	<div class="container">
		<h4 class="display-4 mb-3">Our Commitment to You</h4>
		<h4>We're with You Every Step of the Way</h4>
		<hr />
		<a href="listings.html" class="btn btn-secondary text-white btn-lg mb-3"
			>Explore Our Listings</a
		>
	</div>
</section>

<!-- Meet the Team -->
<section id="team" class="py-5">
	<div class="container">
		<h2 class="text-center">Meet Our Team</h2>
		<div class="row text-center">
			{% if realtors %} {% for realtor in realtors %}

			<div class="col-md-4">
				<img
					src="{{ realtor.photo.url }}"
					alt="Kyle Brown"
					class="rounded-circle mb-3"
				/>
				<h4>{{ realtor.name }}</h4>
				<p class="text-success">
					<i class="fas fa-award text-success mb-3"></i> Realtor
				</p>
				<hr />
				<p><i class="fas fa-phone"></i> {{ real.phone }}</p>
				<p><i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
			</div>

			{% endfor %} {% else %}
			<div class="col-md-12">
				<p>No realtors Available</p>
			</div>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
